scripts/reg-report-xml-validation/samples/persona.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://validador.ssf.gob.sv/ctri/persona" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://validador.ssf.gob.sv/ctri/persona">
   <xs:element name="ctri">
      <xs:complexType>
         <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="persona">
               <xs:complexType>
                  <xs:all maxOccurs="1" minOccurs="1">
                     <xs:element name="nit_persona">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Nit de la Persona
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="14"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="dui" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
DUI
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="9"/>
                             <xs:pattern value="([0-9])+"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="primer_apellido" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Primer Apellido
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="25"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="segundo_apellido" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Segundo Apellido
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="25"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="apellido_casada" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Aoellido de Casada
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="25"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="primer_nombre" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Primer Nombre
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="25"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="segundo_nombre" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Segundo Nombre
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="25"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nombre_sociedad" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Nombre de Sociedad
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="100"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_persona">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de Persona
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_relacion" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de Relacion
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                             <xs:enumeration value="0"/>
                             <xs:enumeration value="1"/>
                             <xs:enumeration value="2"/>
                             <xs:enumeration value=""/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_identificador">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de Identificador
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nit_anterior" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Nit Anterior
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="14"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="residente">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Residente
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="giro_persona" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Giro o Actividad Económica
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="6"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tamano_empresa" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tamaño de la Empresa
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="2"/>
                             <xs:whiteSpace value="collapse"/>
                             <xs:enumeration value="PA"/>
                             <xs:enumeration value="MI"/>
                             <xs:enumeration value="PE"/>
                             <xs:enumeration value="ME"/>
                             <xs:enumeration value="GE"/>
                             <xs:enumeration value="GO"/>
                             <xs:enumeration value=""/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_empresa" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de la Empresa
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                             <xs:enumeration value="N"/>
                             <xs:enumeration value="E"/>
                             <xs:enumeration value=""/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="reserva">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Reserva
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="categoria_riesgo" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Categoria de Riesgo
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="2"/>
                             <xs:enumeration value="A1"/>
                             <xs:enumeration value="A2"/>
                             <xs:enumeration value="B"/>
                             <xs:enumeration value="C1"/>
                             <xs:enumeration value="C2"/>
                             <xs:enumeration value="D1"/>
                             <xs:enumeration value="D2"/>
                             <xs:enumeration value="E"/>
                             <xs:enumeration value="E1"/>
                             <xs:enumeration value="E2"/>
                             <xs:enumeration value="E3"/>
                             <xs:whiteSpace value="collapse"/>
                             <xs:enumeration value=""/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="numero_cliente" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Número de Cliente
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="17"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="id_alterno" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
ID Alterno
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_id_alterno" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de ID Alterno
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="2"/>
                             <xs:whiteSpace value="collapse"/>
                             <xs:enumeration value="PS"/>
                             <xs:enumeration value="SS"/>
                             <xs:enumeration value="CI"/>
                             <xs:enumeration value="CR"/>
                             <xs:enumeration value="LI"/>
                             <xs:enumeration value=""/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_nacimiento" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha de Nacimiento
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:date">
                             <xs:minInclusive value="1800-01-01"/>
                             <xs:maxInclusive value="9999-12-31"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="pais_residencia" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
País de Residencia
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:int">                            
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="riesgo_consolidado" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Riesgo Consolidado
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="sexo_persona" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Sexo
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                             <xs:enumeration value="M"/>
                             <xs:enumeration value="F"/>
                             <xs:enumeration value=""/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="ocupacion" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Ocupacion
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="3"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="id_pais_origen" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Identificacion Tributaria Pais Origen
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nacionalidad" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Nacionalidad
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">                              
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nit_desactualizado" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
NIT Desactualizado
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="14"/>
                              <xs:minLength value="1"/>
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tipo_ident_anterior" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tipo de Identificador anterior
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:length value="1"/>                              
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="distrito_residencia" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Distrito Residencia
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:length value="4"/>                              
                              <xs:whiteSpace value="collapse"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>